.u-section-1 .u-sheet-1 {
  min-height: 120px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 41px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 113px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-bottom: 40px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  margin-right: auto;
  margin-left: auto;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
  text-transform: none;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2322px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}